{% extends "base.html" %} 

{% block main %}
	<h1>News</h1>
	<div class="pagedata">
	    {% if pagedata.num > 0 %}<a href="/news/{{ pagedata.prev }}">Previous Page</a>{% endif %}
	    {% if pagedata.max > pagedata.num %}<a href="/news/{{ pagedata.next }}">Next Page</a>{% endif %}
    </div>
    
	{% for news_item in news_list %}
		<div class="newsitem">
			<h2>{{ news_item.title }}</h2>
			<p>Author: {{ news_item.author }}, Date: {{ news_item.date }}{% if is_admin %}, <a href="/admin/news/{{ news_item.key }}">Edit</a> {% endif %}</p>
			{% autoescape off %}
				{{ news_item.body }}
			{% endautoescape %}
		</div>
	{% endfor %}
	
	<div class="pagedata">
	    {% if pagedata.num > 0 %}<a href="/news/{{ pagedata.prev }}">Previous Page</a>{% endif %}
	    {% if pagedata.max > pagedata.num %}<a href="/news/{{ pagedata.next }}">Next Page</a>{% endif %}
    </div>
{% endblock %}
