{% extends "base.html" %}

{% block main %}
<h1>How to get to our meetings in room IT407</h1>
<h2>Step 0</h2>
<p>Head to the Kilburn building on Oxford road</p>
<img src="/img/guide/0.jpg" alt="The Kilburn building" title="The best smelling building around"/>
<h2>Step 1</h2>
<p>At the end near the bridge head towards the doors on the ground floor</p>
<img src="img/guide/1.jpg" alt="The doors on the ground floor" title="Check yourself out in the mirrored windows"/>
<h2>Step 2</h2>
<p>You will recognise the doors of Kilburn by strange, filthy overhang that lays above them</p>
<img src="img/guide/2.jpg" alt="The scummy hanging" title="Cleaner than most of the people inside though..."/>
<h2>Step 3</h2>
<p>On the left are the automatic doors and on the right the manual doors. Choose you wisely</p>
<img src="img/guide/3.jpg" alt="The doors of destiny" title="I pick whichever looks more readily open"/>
<h2>Step 4</h2>
<p>Venture through the airlock and towards the stairs</p>
<img src="img/guide/4.jpg" alt="The mothership airlock" title="The only defense the world has against the reek"/>
<h2>Step 5</h2>
<p>Head up the stairs to the belly of the beast</p>
<img src="img/guide/5.jpg" alt="The most excercise the kilburn dwellers get all week" title="Or you could take the lift"/>
<h2>Step 6</h2>
<p>Take a left at the top and head through the door that was doubled</p>
<img src="img/guide/6.jpg" alt="Do the Aragorn thing when you push them open" title="Nip to the loo on the left if you need it"/>
<h2>Step 7</h2>
<p>Keep heading straight, up the little bumpy stairs</p>
<img src="img/guide/7.jpg" alt="Staggered stairs, for a reason no mortal knows" title="Or, again take the lift"/>
<h2>Step 8</h2>
<p>Once you have conquered the last set of stairs in this brave quest, rest for a few minutes</p>
<img src="img/guide/8.jpg" alt="A decent camping spot" title="You should have brought some snacks"/>
<h2>Step 9</h2>
<p>Glass doors are the next gateway for you to pass through</p>
<img src="img/guide/9.jpg" alt="Very swish hi-tech doors" title="Tip: don't walk into them"/>
<h2>Step 10</h2>
<p>Walk down the corridor of heroes, taking in their mighty aura</p>
<img src="img/guide/10.jpg" alt="The most brilliant collection of photos, ever" title="Enjoy the timelessness of the moustache"/>
<h2>Step 11</h2>
<p>Breach the doors at the end and watch your footing across the IT bridge</p>
<img src="img/guide/11.jpg" alt="Enjoy the views of gas canisters" title="Like a greenhouse on a hot day"/>
<h2>Step 12</h2>
<p>Make a right</p>
<img src="img/guide/12.jpg" alt="The network of networks" title="This building is a lot nicer, still confusing though"/>
<h2>Step 13</h2>
<p>There is are doubled doors ahead of you, open them</p>
<img src="img/guide/13.jpg" alt="So close" title="Be cautious"/>
<h2>Step 14</h2>
<p>Look left through the door and head down towards the end</p>
<img src="img/guide/14.jpg" alt="So near" title="Be wary"/>
<h2>Step 15</h2>
<p>There before you, the door of dreams. Open it.</p>
<img src="img/guide/15.jpg" alt="So in proximity to" title="Be alert"/>
<h2>Step 16</h2>
<p>Behold. The lair of MAN-UP</p>
<img src="img/guide/16.jpg" alt="Nerd time" title="What a party eh?"/>
{% endblock main %}